In [2]:
import pandas as pd
from pandas import DataFrame
from pathlib import Path
import os

In [10]:
parent_dir = os.path.abspath('..')
test_dir = os.path.join(parent_dir, 'test')
test_data_file = os.path.join(test_dir, 'data.csv')

In [8]:
if os.path.isfile(test_data_file):
    test_data = pd.read_csv(test_data_file)

In [9]:
test_data

            Date      Open      High       Low     Close   Volume
0     2016-05-06    8.0424    8.3970    8.0206    8.3903  2066052
1     2016-05-09    8.3903    8.4037    8.2364    8.3551   444630
2     2016-05-10    8.3342    8.3551    8.2297    8.3134    45356
3     2016-05-11    8.2707    8.3903    8.1461    8.3903   248390
4     2016-05-12    8.3903    8.5567    8.3551    8.4597   457524
...          ...       ...       ...       ...       ...      ...
1476  2022-04-26   18.8420   18.9340   18.3310   18.4520   565073
1477  2022-04-27   20.0300   20.2520   18.6560   19.7330  2228629
1478  2022-04-28   19.7700   19.9550   18.8970   19.0460   398003
1479  2022-04-29   19.1390   19.4540   18.9530   19.1200   275211
1480  2022-10-29  100.1390  100.4540  100.9530  100.1200   275211

[1481 rows x 6 columns]